/*
 * Colors
 */
$colorWhite: #fff;
$colorBlack: #000;
$colorLightGrey: #fafafa;
$colorGrey: #333;
$coloDarkGrey: #666;
$colorCream: #f9f3d2;
$colorBrown: #6b4b3f;
$colorBlue: #2197f3;

/*
 * Breakpoints
 */
$small: 480px;
$medium: 768px;
$large: 1024px;

$min: min-width;
$max: max-width;
